@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --color-primario: #000000;
    --color-secundario: #F6F6F6;
    --color-terciario: #22D4FD;
    --color-hover: #272727;

    --font-size-p: 1.6rem;
    --font-size-h1: 2rem;

    --fuente-montserrat: 'Montserrat', sans-serif;
    --fuente-krona: "Krona One", sans-serif;
}

* {
    padding: 0;
    margin:0;
}

html {
    font-size: 62,5%;
}

body {
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.header {
    padding: 2% 0% 0% 15%;
}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__menu__link {
    font-family: "Montserrat", sans-serif;
    font-size: var(--font-size-p);
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

.titulo-destaque {
    color: var(--color-terciario); ;
}

.presentacion {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.presentacion__contenido {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__proyectos {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__enlaces__proyecto:hover {
    background-color: var(--color-hover);
    cursor: pointer;
}

.presentacion__contenido__titulo {
    font-size: var(--font-size-h1);
    font-family: 'Krona One', sans-serif;
}

.presentacion__contenido__texto {
    font-size: var(--font-size-p);
    font-family: var(--fuente-montserrat);
}

.presentacion__enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulo {
    font-family: var(--fuente-krona);
    font-size: var(--font-size-p);
    font-weight: 400;
}

.presentacion__enlaces__link {
    border: 2px solid var(--color-terciario);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: var(--font-size-p);
    font-weight: 600;
    color: var(--color-secundario);
    padding: 21.5px 0;
    text-decoration: none;
    font-family: var(--fuente-montserrat);
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.presentacion__enlaces__link:hover {
    background-color: var(--color-hover);
    cursor: pointer;
}

.presentacion__enlaces__proyecto {
    text-decoration: none;
    color: var(--color-secundario);
    padding: 21.5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.presentacion__enlaces__proyecto__descripcion {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.presentacion__imagen__proyecto {
    width: 50%;
    padding: 10px;
    border: 2px solid var(--color-terciario);
    border-radius: 8px;
}

.presentacion__imagen {
    width: 50%;
}

.footer {
    padding: 24px;
    background-color: var(--color-terciario);
    font-family: "Montserrat", sans-serif;
    font-size: var(--font-size-p);
    font-weight: 600;
    color: var(--color-primario);
    text-align: center;
}

.footer__mail {
    text-decoration: none;
    color: var(--color-primario);
}

@media (max-width: 1200px) {

    .header {
        padding: 10%;
    }

    .header__menu {
        justify-content: center;
    }

    .presentacion {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion__contenido {
        width: auto;
    }

    .presentacion__imagen {
        width: auto;
    }
}